<div class="container-fluid d-flex flex-column p-0 m-0 bg-white " style="min-height:80vh; min-width: 40vw; ">
    <div class="bg-grey-blue text-white d-flex justify-content-between align-items-center p-2">
        @if(info.rol ==='administrador')
        {
            <button (click)="volver()" class="btn btn-link text-white p-0 ps-2"
                [ngClass]="{ 'invisible': seleccionUsuario }" aria-label="Volver">
                <i class="bi bi-arrow-left fs-4"></i>
            </button>
        }

        @else if(info.rol ==='paciente') {
                <button (click)="volver()" class="btn btn-link text-white p-0 ps-2"
                [ngClass]="{ 'invisible': seleccionEspecialidad}" aria-label="Volver">
                <i class="bi bi-arrow-left fs-4"></i>
            </button>
        }

        <h2 class="text-center">{{tituloModal}}</h2>
        <button (click)="salir()" class="btn btn-link text-white p-0 pe-2" aria-label="Cerrar">
            <i class="bi bi-x-lg fs-4"></i>
        </button>
    </div>

    @if(seleccionUsuario)
    {
    <div *ngFor="let paciente of listaPacientes">
        <button (click)="seleccionarPaciente(paciente.id_paciente)"
            class="btn btn bg-light-blue btn-light">{{paciente.usuarios_clinica.name}}
            {{paciente.usuarios_clinica.sur_name}}</button>
    </div>
    }
    @if(seleccionEspecialidad)
    {
    <div *ngFor="let especialidad of info.especialidades">
        <button (click)="elegirEspecialidad(especialidad)"
            class="btn btn bg-light-blue btn-light">{{especialidad}}</button>
    </div>

    }

    @if(mostrarDiasTurnos)
    {
    <div class="d-flex flex-column">
        <button class="btn btn-light bg-light-blue" *ngFor="let dia of listaDias" (click)='elegirHoraTurno(dia)'>
            {{dia.nombreDia | titlecase}}/{{dia.dia}}/{{dia.mes}}
        </button>
    </div>

    }
    @if(mostrarHorariosTurnos)
    {
    <button (click)="enviarTurno(hora)" [disabled]="verificarHorarioTomado(hora)" class="btn btn-light bg-light-blue"
        *ngFor="let hora of listaHorariosDisponibles">
        {{hora}}
    </button>

    }


</div>