<div class="container-fluid d-flex flex-column p-0 m-0 " style="min-height:80vh; min-width: 40vw; ">
    <div class="d-flex  flex-column bg-white">
        @if(!selected)
        {
        <div
            class="position-fixed top-0 start-0 w-100 h-100 bg-dark bg-opacity-50 d-flex justify-content-center align-items-center z-3">
            <div class="bg-white rounded-4 shadow-lg p-5" style="width: 90%; max-width: 500px;">
                <div class="text-end mb-4">
                    <button (click)="cerrar()" class="btn btn-link text-black p-0 pe-2" aria-label="Cerrar">
                        <i class="bi bi-x-lg fs-4"></i>
                    </button>
                </div>
                <h1 class="fw-bold text-center mb-3" style="color:#004aad;">Registro de Usuario</h1>
                <p class="text-center text-secondary mb-4">
                    Por favor, seleccione el tipo de usuario que desea registrar:
                </p>

                <div class="d-flex flex-column gap-3">
                    <button (click)="select('pacientes')" class="btn btn-outline-primary btn-lg w-100">👤
                        Paciente</button>
                    <button (click)="select('especialistas')" class="btn btn-outline-primary btn-lg w-100">🩺
                        Especialista</button>
                    <button *ngIf="administrador" (click)="select('administradores')"
                        class="btn btn-outline-primary btn-lg w-100">⚙️
                        Administrador</button>
                </div>
            </div>
        </div>


        }
        @else{
        <div class="bg-grey-blue text-white d-flex justify-content-between align-items-center p-2">
            <button (click)="volver()" class="btn btn-link text-white p-0 ps-2" aria-label="Volver">
                <i class="bi bi-arrow-left fs-4"></i>
            </button>

            <h1 class="text-center flex-grow-1 m-0">
                Registro de {{
                userType === 'pacientes' ? 'paciente' :
                userType === 'especialistas' ? 'especialista' :
                userType === 'administradores' ? 'administrador' :
                'usuario'
                }}
            </h1>

            <button (click)="cerrar()" class="btn btn-link text-white p-0 pe-2" aria-label="Cerrar">
                <i class="bi bi-x-lg fs-4"></i>
            </button>
        </div>

        <div class="grid d-flex justify-content-center ">
            <div class="row" style="width: 100%;">
                <div [ngClass]="userType === 'administradores' ? 'col-12 d-flex flex-column align-items-center' : 'col-6'"
                    style="border-right: 1px solid black; min-height: 40vh;">
                    <h2 class="text-center mt-3 " style="color:#004aad;">Datos personales</h2>
                    <form [formGroup]="formDatosPersonales" class="d-flex">
                        <div class="grid">
                            <div class="row">
                                <div class="col-6 mt-3">
                                    <label class="form-label fw-bolder">Nombre</label>
                                    <input formControlName="nombre" type="text" class="form-control" name="nombre"
                                        required>
                                    <div class="mt-1"
                                        *ngIf="formDatosPersonales.get('nombre')?.hasError('required') && formDatosPersonales.get('nombre')?.touched">
                                        <small class="text-danger">El nombre es obligatorio</small>
                                    </div>
                                    <div class="mt-1"
                                        *ngIf="formDatosPersonales.get('nombre')?.hasError('minlength') && formDatosPersonales.get('nombre')?.touched">
                                        <small class="text-danger">El nombre debe tener al menos 3 caracteres</small>
                                    </div>
                                    <div class="mt-1"
                                        *ngIf="formDatosPersonales.get('nombre')?.hasError('maxlength') && formDatosPersonales.get('nombre')?.touched">
                                        <small class="text-danger">El nombre no debe superar los 15 caracteres</small>
                                    </div>
                                </div>
                                <div class="col-6 mt-3">
                                    <label class="form-label fw-bolder ">Apellido</label>
                                    <input type="text" class="form-control" name="mail" formControlName="apellido"
                                        required>
                                    <div class="mt-1"
                                        *ngIf="formDatosPersonales.get('apellido')?.hasError('required') && formDatosPersonales.get('apellido')?.touched">
                                        <small class="text-danger">El apellido es obligatorio</small>
                                    </div>
                                    <div class="mt-1"
                                        *ngIf="formDatosPersonales.get('apellido')?.hasError('minlength') && formDatosPersonales.get('apellido')?.touched">
                                        <small class="text-danger">El apellido debe tener al menos 3 caracteres</small>
                                    </div>
                                    <div class="mt-1"
                                        *ngIf="formDatosPersonales.get('apellido')?.hasError('maxlength') && formDatosPersonales.get('apellido')?.touched">
                                        <small class="text-danger">El apellido no debe superar los 15 caracteres</small>
                                    </div>
                                </div>
                                <div class="col-6 mt-3">
                                    <label class="form-label fw-bolder ">Edad</label>
                                    <input type="number" class="form-control" name="edad" formControlName="edad"
                                        required>
                                    <div class="mt-1"
                                        *ngIf="formDatosPersonales.get('edad')?.hasError('required') && formDatosPersonales.get('edad')?.touched">
                                        <small class="text-danger">La edad es obligatoria</small>
                                    </div>
                                    <div class="mt-1"
                                        *ngIf="formDatosPersonales.get('edad')?.hasError('min') && formDatosPersonales.get('edad')?.touched">
                                        <small class="text-danger">La edad debe ser mayor de 18</small>
                                    </div>
                                    <div class="mt-1"
                                        *ngIf="formDatosPersonales.get('edad')?.hasError('max') && formDatosPersonales.get('edad')?.touched">
                                        <small class="text-danger">La edad es invalida</small>
                                    </div>
                                </div>
                                <div class="col-6 mt-3">
                                    <label class="form-label fw-bolder ">DNI</label>
                                    <input type="text" class="form-control" name="dni" formControlName="dni"
                                        pattern="^[0-9]{7,8}$" required>

                                    <div class="mt-1"
                                        *ngIf="formDatosPersonales.get('dni')?.hasError('required') && formDatosPersonales.get('dni')?.touched">
                                        <small class="text-danger">El DNI es obligatorio</small>
                                    </div>
                                    <div class="mt-1"
                                        *ngIf="formDatosPersonales.get('dni')?.hasError('pattern') && formDatosPersonales.get('dni')?.touched">
                                        <small class="text-danger">El DNI invalido</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="my-3" style="border-top: 1px solid grey;">
                        <h2 class="text-center my-2" style="color:#004aad;">Personalización</h2>
                        <div class="grid">
                            <div class="row">
                                <div class="col-6 mb-2">
                                    <label class="fw-bolder mb-2">Foto de perfil</label>
                                    <input type="file" (change)="onFileSelected($event,'perfil',0)" accept="image/*" />
                                    <small class="text-danger" *ngIf="errorFotoPerfil">Debe seleccionar una foto para su
                                        perfil </small>
                                </div>
                                <div class="col-6" *ngIf="userType ==='pacientes'" class="d-flex flex-column">
                                    <label class="fw-bolder mb-2 ">Banner</label>
                                    <input type="file" (change)="onFileSelected($event,'fondo',1)" accept="image/*" />
                                    <p class="text-danger" *ngIf="errorFotoFondo">Debe seleccionar un banner para su
                                        perfil </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div *ngIf="userType === 'pacientes' || userType === 'especialistas'" class="col-6">
                    <h2 style="color:#004aad;" class="text-center mt-3">{{userType==="pacientes" ? 'Obra social' :
                        userType ==='especialistas' ?
                        'Especialidades' : ''}}</h2>
                    <div *ngIf="userType ==='pacientes'" class="col-12 mt-3">
                        <label for="obraSocial" class="form-label fw-bolder text-xbox-gray mt-2">Obra social</label>
                        <p class="text-danger" *ngIf="errorObra">Debe seleccionar una opción</p>
                        <select id="obraSocial" [(ngModel)]="obraSeleccionada" class="form-select">
                            <option value="" disabled selected>Elegir una obra social</option>
                            <option *ngFor="let obra of obrasSociales" [value]="obra">{{ obra }}</option>
                        </select>
                    </div>
                    <div *ngIf="userType ==='especialistas'" class="col-12 my-4">
                        <div *ngFor="let item of especialidadesSeleccionadas; let i = index" class="mt-2">
                            <label for="especialidad" class="form-label fw-bolder text-xbox-gray">
                                {{i === 0 ? 'Especialidad' : 'Especialidad adicional N° ' + (i)}}
                            </label>
                            <div class="d-flex ">
                                <select id="especialidad" class="form-select"
                                    [ngClass]="{'select-error': item === ''  && registroPresionado}"
                                    [(ngModel)]="especialidadesSeleccionadas[i]"
                                    (ngModelChange)="selectEspecialidad(especialidadesSeleccionadas[i], i)">
                                    <option disabled [ngValue]="null">Elegir una especialidad</option>
                                    <option class="fw-bold" id="opciones"
                                        [disabled]="especialidadesSeleccionadas.includes(especialidad) && especialidad !== 'Agregar especialidades'"
                                        *ngFor="let especialidad of especialidades" [ngValue]="especialidad">
                                        {{ especialidad }}
                                    </option>
                                </select>
                                <button [disabled]="especialidadesSeleccionadas.length === 4"
                                    (click)="addEspecialidad()" [class.d-none]="i !== 0 "
                                    style="cursor: pointer; font-size: 25px; margin-left: 5px; "
                                    class=" btn bi bi-plus-circle ">

                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 bg-grey-blue">
                    <h2 class="text-center text-white mt-3 fw-bold">Datos de acceso</h2>
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <form [formGroup]="formDatosUsuario">
                            <div class="mt-3">
                                <label class="form-label fw-bold text-white ">Correo</label>
                                <input type="email" class="form-control" name="mail" placeholder="usuario@gmail.com"
                                    formControlName="mail">
                                <div class="mt-1"
                                    *ngIf="formDatosUsuario.get('mail')?.hasError('required') && formDatosUsuario.get('mail')?.touched">
                                    <small class="text-danger">El correo es obligatorio</small>
                                </div>
                                <div class="mt-1"
                                    *ngIf="formDatosUsuario.get('mail')?.hasError('email') && formDatosUsuario.get('mail')?.touched">
                                    <small class="text-danger">El correo es invalido</small>
                                </div>
                                <div class="mt-3">
                                    <label class="form-label fw-bolder text-white">Contraseña</label>
                                    <input type="password" placeholder="********" class="form-control" name="password"
                                        required formControlName="password">

                                    <div class="mt-1"
                                        *ngIf="formDatosUsuario.get('password')?.hasError('required') && formDatosUsuario.get('password')?.touched">
                                        <small class="text-danger">La contraseña es obligatoria</small>
                                    </div>
                                    <div class="mt-1"
                                        *ngIf="formDatosUsuario.get('password')?.hasError('minlength') && formDatosUsuario.get('password')?.touched">
                                        <small class="text-danger">La contraseña debe tener al menos 6
                                            caracteres</small>
                                    </div>
                                    <div class="mt-1" Usuario
                                        *ngIf="formDatosUsuario.get('password')?.hasError('maxlength') && formDatosUsuario.get('password')?.touched">
                                        <small class="text-danger">La contraseña no debe superar los 16
                                            caracteres</small>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- <div class="cf-turnstile" data-sitekey="0x4AAAAAABjHRx4Abhya0TXf"
                            data-callback="onTurnstileSuccess" data-theme="light">
                        </div> -->
                        <button class="btn  bg-white btn-lg   my-3"
                            [disabled]="formDatosPersonales.invalid || formDatosUsuario.invalid"
                            (click)="register(userType)">Registrar</button>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>