<div class="container-fluid py-4">
  <div class="p-4 rounded shadow d-flex flex-column align-items-center bg-light-grey " style="min-height: 40vh;">
    
    <div class="w-100 text-end">
      <button (click)="cerrarModal()" class="btn btn-link text-dark p-0 pe-2" aria-label="Cerrar">
        <i class="bi bi-x-lg fs-4"></i>
      </button>
    </div>

    <h2 class="text-center text-primary mb-4 fw-bold">Historial con el paciente</h2>

    <div class="table-responsive w-100">
      <table class="table table-bordered table-hover text-center align-middle">
        <thead class="table-primary text-dark">
          <tr>
            <th>Fecha</th>
            <th>Especialidad</th>
            <th>Diagnóstico</th>
            <th>Altura</th>
            <th>Peso</th>
            <th>Temperatura</th>
            <th>Presión</th>
            <th>Extra 1</th>
            <th>Extra 2</th>
            <th>Extra 3</th>
            <th>Reseña</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let turno of historial"
              [ngClass]="resenaSeleccionada === turno.id_turno ? 'table-primary' : ''">
            <td>{{ turno.fecha | titlecase }}</td>
            <td>{{ turno.especialidad | titlecase }}</td>
            <td>{{ turno.diagnostico | titlecase }}</td>
            <td>{{ turno.turnos_datos[0].altura | pipeMedida:'altura'}}</td>
            <td>{{ turno.turnos_datos[0].peso | pipeMedida:'peso'}}</td>
            <td>{{ turno.turnos_datos[0].temperatura |pipeMedida:'temperatura' }}</td>
            <td>{{ turno.turnos_datos[0].presion | pipeMedida:'presion'}}</td>
            <td>{{turno.turnos_datos[0].dato_1?.clave || ''}}<br> {{turno.turnos_datos[0].dato_1?.valor || ''}}</td>
            <td>{{turno.turnos_datos[0].dato_2?.clave || ''}}<br> {{turno.turnos_datos[0].dato_2?.valor || ''}}</td>
            <td>{{turno.turnos_datos[0].dato_3?.clave || ''}} <br> {{turno.turnos_datos[0].dato_3?.valor || ''}}</td>
            <td>
              <button (click)="abrirResena(turno)" class="btn btn-outline-primary btn-sm">
                Ver
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="mostrarResena" class="mt-4 p-3 border rounded bg-light text-dark w-100">
      <h5 class="fw-semibold">💬 Reseña del paciente:</h5>
      <p>{{ resena }}</p>
    </div>
  </div>
</div>
