<div *ngIf="registroAbierto"class="mdl-overlay">
    <div class="mdl-content">
        <app-register [administrador]="false"></app-register>
    </div>
</div>

<div class="container-fluid d-flex justify-content-center align-items-center min-vh-100 bg-light-grey font-inter shadow-lg">
    <div class="row w-100 shadow-sm" style="max-width: 1200px; overflow: hidden; border-radius: 15px;">
        <div class="col-12 col-lg-6 bg-light-blue p-0 ">
            <div style="height: 40vh;">
                <img class="w-100" src="/doctor.jpg" height="100%">
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center "
                style="height: 40vh; width: 100%;">
                <img src="/logo_azul_1.png" height="30%">
                <div class="mt-3" style="background-color: rgb(51, 65, 110); width: 80%; border-radius:10px">
                    <div style="border-left: 2px solid white;" class="m-4">
                        <h3 class="text-white m-2 ">Bienvenido a <strong style="font-size: 30px;">MediQ</strong></h3>
                        <p class=" fw-lighter m-2 " style="font-size:20px ;color:rgb(228, 223, 223)">El sistema en línea
                            de la Clínica Quintero</p>
                        <p class=" fw-lighter  m-2" style="font-size:15px ;color:rgb(228, 223, 223)">Administre sus
                            turnos de la forma más simple</p>
                    </div>
                </div>

            </div>


        </div>


        <div class="col-lg-6 d-none d-lg-flex align-items-center justify-content-center bg-white">
            <div class="m-4">
                <h1 class="fw-bold  mb-3" style="color:#004aad;">Acceder</h1>
                <p class="text-xbox-white fw-ligh">Ingrese su correo y contraseña para acceder a su cuenta.</p>

                <form [formGroup]="formLogin">
                    <div class="mt-4">
                        <label class="form-label fw-bolder text-xbox-gray">CORREO</label>
                        <input type="email" class="form-control" placeholder="ejemplo@gmail.com" name="mail"
                            formControlName="mail" required>
                        <div class="mt-1"
                            *ngIf="formLogin.get('mail')?.hasError('required') && formLogin.get('mail')?.touched">
                            <small class="text-danger">El correo es inválido</small>
                        </div>
                    </div>
                    <div class="mt-4 w-100">
                        <label class="form-label fw-bolder text-xbox-gray">CONTRASEÑA</label>
                        <input type="password" class="form-control" placeholder="*******" name="password"
                            formControlName="password" required>
                        <div class="mt-1"
                            *ngIf="formLogin.get('password')?.hasError('required') && formLogin.get('password')?.touched">
                            <small class="text-danger">La contraseña es inválida</small>
                        </div>
                    </div>
                </form>

                <div class="d-flex justify-content-center">
                    <button (click)="login()"style="width: 60%;" class="btn btn-light bg-light-blue text-white mt-5">Ingresar</button>
                </div>

                <div class="d-flex align-items-center mt-5">
                    <hr class="flex-grow-1">
                    <span class="mx-3 text-xbox-gray ">Acceso rápido</span>
                    <hr class="flex-grow-1">
                </div>


                <div class="d-flex justify-content-center pt-4">
                    <i (click)="llenarDatos('paciente_1@gmail.com','123123')"style="cursor: pointer;" class="bi bi-person-circle fs-1 px-2 "></i>
                    <i (click)="llenarDatos('especialista_1@gmail.com','123123')"style="cursor: pointer;" class="bi bi-person-circle fs-1  px-2"></i>
                    <i (click)="llenarDatos('admin_1@gmail.com','123123')"style="cursor: pointer;" class="bi bi-person-circle fs-1  px-2"></i>
                </div>
                <p class="fw-bold mt-5 text-center">¿Aún no tienes cuenta? <a
                        style="cursor: pointer;text-decoration: underline;color:rgb(55, 154, 184)"
                        (click)="openRegister()">Clickea aquí</a></p>
            </div>
        </div>

    </div>
</div>


<!-- * Botones de Acceso rápido
- Debe ser botones favbutton
- Debe tener la imagen de perfil del usuario
- Debe estar en la esquina inferior derecha de la pantalla login. 6 usuarios. (3 pacientes, 2 especialistas, 1 admin)

* Registro de usuarios
- Al ingresar a la página solo se deben ver 2 botones con la imagen que represente un paciente o especialista, según esa
elección mostrará el formulario correspondiente.
- Estas imagenes tienen que estar en botones redondos uno al abajo del otro. -->