<div *ngIf="mostrarHistorial"class="mdl-overlay">
    <div class="mdl-content">
        <app-modal-historial [historial]="historial"(cerrar)="mostrarHistorial=false"></app-modal-historial>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center align-items-center bg-light-grey" style="min-height: 90vh;">
    <h1 *ngIf="pacientes.length===0">No hay pacientes atendidos</h1>
    @for(paciente of pacientes();track paciente.id_paciente )
    {
        <img [src]="paciente.pacientes.usuarios_clinica.foto_perfil" width="50px">
        <button (click)="abrirHistorial(paciente)"class="btn btn-lg btn-light bg-light-blue">{{paciente.pacientes.usuarios_clinica.name}}</button>
    }
</div>
