<div class="container-fluid d-flex flex-column min-vh-100">
    <div class="p-3">
        <div class="d-flex flex-column w-100 align-items-center justify-content-center mb-4">
            <h1 class="text-center mb-2">Turnos</h1>
            <h4 class="text-center mb-1">Lista de los turnos registrados en el sistema.</h4>
        </div>

        <div class="d-flex flex-column align-items-end w-100 mb-3 pe-4">
            <div class="d-flex align-items-center gap-2 w-100" style="max-width: 400px;">
                <input [(ngModel)]="filtroValor" name="filtroValor" type="text"
                    placeholder="Buscar por especialista o especialidad" class="form-control w-100">
                <button [disabled]="filtro || filtroValor.length === 0" (click)="filtrar()" class="btn btn-light btn-m bg-light-blue text-white px-3"
                    style="border-radius: 10px;">Buscar</button>
            </div>
            <div *ngIf="filtro" class="d-flex align-items-center mt-2 px-2 py-1 rounded"
                style="background-color: lightblue; font-size: 14px; max-width: 400px;">
                <span class="me-auto fw-bold">{{ filtroValorActual }}</span>
                <i (click)="borrarFiltro()" class="bi bi-x-lg text-danger" role="button"></i>
            </div>
        </div>

        <h4 class="mb-5 text-black" *ngIf="filtro && !noCoincide">
            Se encontraron {{ cantidadCoincidencias }} turnos
        </h4>


        <div class="row fw-bold text-center  border-bottom pb-2" style="border-top: 2px solid black;">
            <div class="col-2 mt-3">ID Turno</div>
            <div class="col-2 mt-3">Area</div>
            <div class="col-2 mt-3">Paciente</div>
            <div class="col-2 mt-3">Especialista asignado</div>
            <div class="col-2 mt-3">Fecha y hora del turno</div>
            <div class="col-2 mt-3">Estado</div>
        </div>

        @for (turno of turnos (); track turno.id_turno) {
        <div class="grid w-100 border-bottom">
            <div class="row align-items-center p-2">
                <div class="col-2 text-center">
                    {{turno.id_turno}}
                </div>
                <div class="col-2 text-center">
                    {{turno.especialidad}}
                </div>
                <div class="col-2 text-center ">
                    {{ turno.pacientes.usuarios_clinica.name }} {{ turno.pacientes.usuarios_clinica.sur_name }} (ID:
                    {{turno.id_paciente}})
                </div>
                <div class="col-2 text-center">
                    {{ turno.especialistas.usuarios_clinica.name }} {{ turno.especialistas.usuarios_clinica.sur_name }}
                    (ID: {{turno.id_especialista}})
                </div>
                <div class="col-2  text-center">
                    {{ turno.fecha }} {{ turno.hora }}
                </div>

                <div class="col-2 text-center">
                    <p [ngClass]="{
                        'text-success': turno.estado === 'Aprobado',
                        'text-danger': turno.estado === 'Rechazado' || turno.estado === 'Cancelado',
                        'text-warning': turno.estado === 'Pendiente'
                        }">
                        {{ turno.estado }}
                    </p>
                    <button (click)="cancelarTurno(turno)" *ngIf="turno.estado === 'Pendiente'"class="btn btn-sm btn-danger " title="Rechazar">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </div>
            </div>

        </div>
        }
    </div>