/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Inter', sans-serif;
}
.bg-light-blue{
    background-color:#004aad;
}

.snackbar-error{
  background-color: red;
  color:white;
}

.snackbar-bienvenido
{
  background-color: rgb(65, 226, 24);
  text-align: center;
  color:white;
}
