/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Inter', sans-serif;
}
.bg-light-blue{
    background-color:#004aad;
}

.bg-grey-blue{
  background-color: rgb(51, 65, 110)
}

.bg-sky{
  background-color: rgb(131, 183, 243)
}


.bg-light-grey{
  background-color: rgb(205, 213, 216);
}
.snackbar-error{
  background-color: red;
  color:white;
}

.snackbar-bienvenido
{
  background-color:#ffffff;
  text-align: center;
  color:#004aad;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: #dee2e6 !important;
  color: #6c757d !important;
}
.mat-datepicker-content {
  box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
  background-color: #fff;
  color: #000000de
}

.mat-calendar-body-selected {
  background-color: #007f51;
  color: #fff;
}

.mat-calendar-body-cell-content {
  border: none !important;
}